body {
  background-color: #ece35a;
  color: white;
}

.App-header {
  margin-top: 20px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.add {
  width: 300px;
  margin-left: 20px;
}

.edit {
  text-align: center;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form {
  text-align: center;
}

.name {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
}

.title {
  font-size: 40px;
}

.card_recipes {
  display: inline-block;
  margin-left: 200px;
}

.oneRecipes {
  background-color: white;
  width: 400px;
  color: black;
  padding: 20px;
  margin: 10px;
}

.recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
}